Footer {
    display: flex;
    width: 100%;
    height: 101px;
    color: white;
    background-color: #B5B9E1;
}

Footer img {
    margin-left: 28px;
    width: 301px;
    height: 86.02px;
}

.f_txt {
    margin-top: 17px;
    margin-left: 88px;
    display: flex;
    flex-direction: column;
}

.f_txt3 {
    display: flex;
}

.f_txt3-2  {
    margin-left: 7px;
}