.Main {
    background-color: #ECECEC;
}


.header__main {
    width: 100%;
    height: 100vh;
    background-image: url("../screens/images/background.jpg");
    background-size : cover;
}

.header__main .header__main-txtbox {
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
    margin-top: 170px;
    margin-left: 263px;
    position: absolute;
    width: 902px;
    height: 229px;
    font-size: 40px;
    border-radius: 38px;
}

.header__main .header__main-txtbox .txtbox-1 {
    margin-left: 32px;
    margin-top: 56px;
    color: #FFAA00;
}

.header__main .header__main-txtbox .txtbox-2 {
    margin-top: 4px;
    margin-left: 282px;
}

.h_icon .h_icon-arrow {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.h_icon .h_icon-arrow .arrow-left {
    margin-left: 206px;
}

.h_icon .h_icon-arrow .arrow-right {
    margin-left: 1177px;
}

.h_icon .h_icon-arrow .arrow-left,
.h_icon .h_icon-arrow .arrow-right {
    position: absolute;
    color: #707070;
    font-size: 60px;

}

.h_icon .h_icon-arrow .arrow-left:hover,
.h_icon .h_icon-arrow .arrow-right:hover {
    background-color: rgba(213, 213, 213, 0.25);
}

.h_icon .caret {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    margin-top: 325px;
    font-size: 50px;
    color: #FFC300;
}

.h_icon .h_icon-chevron {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    font-size: 59px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 600px;
    margin-right: 65px;
}

.h_icon .h_icon-chevron .chevron-up {
    margin-right: 65px;
}

.middle_main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_main .middle_main-txt1 {
    display: flex;
    font-size: 30px;
    margin-top: 176px;
}

.middle_main .middle_main-txt1-1 {
    color: #FFC300;
    border-bottom: solid 1px #FFC300;
}


.middle_main .middle_main-txt2 {
    display: flex;
    margin-top: 132px;
    font-size: 20px;
}

.middle_main-txt2 .middle_main-txt2-1  {
    color: #FFC300;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn input {
    margin-top: 187px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #000000;
    color: #FFC300;
    width: 234px;
    height: 69px;
    border-radius: 20px;
}

.bottom_main {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-title {
    margin-top: 112px;
    color: #FFC300;
    font-size: 25px;
}

.bottom_main .line {
    margin-top: 13px;
    width: 45%;
    border-bottom: solid 3px black;
}

.list {
    margin-top: 112px;
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 114px;
}


.btn input:hover {
    background: none;
    border: 3px solid #FFC300;
    color: black;
}

.list ul {
    width: 100%;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-around;
}

.list li {
    width: 190px;
    height: 50px;
    background-color: white;
}